node_modules/
dist/
src-tauri/target/
src-tauri/gen/
src-tauri/resources/modules/qing.canary/
native-module-canary/target/
native-launcher/target/
native-launcher/ui-src/node_modules/
native-launcher/ui-src/dist/
src-tauri/resources/modules/qing.launcher/
native-pdf/target/
native-pdf/ui-src/node_modules/
native-pdf/ui-src/dist/
native-transfer/target/
native-transfer/ui-src/node_modules/
native-transfer/ui-src/dist/
src-tauri/resources/modules/qing.pdf/
src-tauri/resources/modules/qing.qingtransfer/
native-texttools/target/
native-texttools/ui-src/node_modules/
native-texttools/ui-src/dist/
src-tauri/resources/modules/qing.texttools/
native-windowtopmost/target/
native-windowtopmost/ui-src/node_modules/
native-windowtopmost/ui-src/dist/
src-tauri/resources/modules/qing.windowtopmost/
native-powerguard/target/
native-powerguard/ui-src/node_modules/
native-powerguard/ui-src/dist/
src-tauri/resources/modules/qing.powerguard/
native-screenpin/target/
native-screenpin/ui-src/node_modules/
native-screenpin/ui-src/dist/
src-tauri/resources/modules/qing.screenpin/
